 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto+Mono;
    color: black;
}


.nav {
    display: inline;
}

body{
    margin: 0;
    padding: 0;

}

.main-header ul {
    margin: 0;
}

.main-header{
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
    background-blend-mode: multiply;
    background-image: url("https://cdn.apollo.audio/one/media/6478/8a63/c11f/5c05/c5e3/7ee3/coldplay-james-sit-down.jpg?quality=80&format=jpg&crop=0,0,675,1200&resize=crop");
    background-size:cover;
    margin: 0;
    padding-bottom: 0%;
    /* text-align: center; */
    border-bottom: 3px solid black;
    

}

.whole-page{
    margin: 0;
}

.band-name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 9em; */
    /* color: aliceblue; */

}

.band-name-large{
    font-size: 4em;
    /* color: blue; */
}


/* Adding hovering option when we are using cursor to choose options */
.header :hover{
    background-color: rgb(205, 232, 232);
    margin: 0;
}

/* This is how we make a column spread in one list */
.main-header li{
    display: inline-block;
    padding-inline: 50px;
    /* color: linear-gradient(to right,#00AAFF, #00FF6c); */
    color: aqua;
    text-decoration: none;
    margin: 0;
    /* text-align: center; */
}


.about{
    text-align: center;
    color:aqua;
}

.about-image{
    float: left;
    margin: 10px;
    border-radius: 10%;
}
.body-content{
    /* text-align: center; */
    margin: 1em;
    padding: 0 1em;

}



.footer li{
    display:inline;
    /* display: flex; */
    padding: 9px;
    padding-left: 0px;
    /* margin: auto; */
    cursor: pointer;
    flex-grow: 1;
    
    /* text-align: end; */
}

.text-footer{
    padding-inline: 30px;

    color: aqua;
    text-align: center;

}

.footer ul{
    flex-grow: 1;
    /* text-align: end; */
    color: blue;
}




.btn{
    /* background-color: aqua; */
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    /* border: 2px solid blue; */
    /* border-radius: 0%; */

}


.btn-header{
    margin: .5em 15% 2em 15%;
    border: 2px solid aqua;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header :hover{
    background-color: rgb(205, 232, 232);
}

.btn-special{
    display: black;
    margin: 0%;
    font-size: 4em;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;

}


.body-container{
    background-color: aqua;
    /* display: inline; */
    background-blend-mode: multiply;
    /* background-image: url("https://cdn.apollo.audio/one/media/6478/8a63/c11f/5c05/c5e3/7ee3/coldplay-james-sit-down.jpg?quality=80&format=jpg&crop=0,0,675,1200&resize=crop"); */
    background-size: cover;
}

.body-shoping{
    /* display: flex; */
    border-bottom: 1px solid black ;
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-inline: 30px;

}

.body-shoping:last-child{
    border-bottom: none;
}

.tour-item{
    /* display: inline; */
    padding-right: .5em ;
    width: 11%;
    text-align: center;
    /* padding-inline: 30px; */

}

.button{
    margin: auto;
    display: grid;
    background-color: aqua;
    cursor: pointer;
    border-radius: .3em;
    
    /* margin: 10px; */
    /* place-items: center; */
    font-weight: bold;
    /* vertical-align: middle; */

}

.music-container{
    display: flex;
    margin: 3px;
    flex-wrap: wrap;
    padding-inline: 50px;
    text-align: center ;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 3px solid black;


}

.shopt-item{
    padding-left: 20px;;
    margin: 10px;
    font-weight: bold;
}

.shot-item-image{
    height: 250px ;
    width: auto;
 
}

.store-body{
    border-bottom: 3px solid black;
}

.store-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


.cart-container{
    display: flex;
    margin: 3px;
    flex-wrap: wrap;
    padding-inline: 50px;
    text-align: center ;
    padding-bottom: 1em;
    margin-bottom: 1em;

}
