 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto+Mono;
    color: black;
}


.nav {
    display: inline;
}

body{
    margin: 0;
    padding: 0;

}

.main-header ul {
    margin: 0;
}

.main-header{
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
    background-blend-mode: multiply;
    background-image: url("https://cdn.apollo.audio/one/media/6478/8a63/c11f/5c05/c5e3/7ee3/coldplay-james-sit-down.jpg?quality=80&format=jpg&crop=0,0,675,1200&resize=crop");
    background-size: cover;
    /* text-align: center; */
}

.band-name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 9em; */
    /* color: aliceblue; */

}

.band-name-large{
    font-size: 4em;
    /* color: blue; */
}


/* Adding hovering option when we are using cursor to choose options */
.main-header :hover{
    background-color: aqua;
}

/* This is how we make a column spread in one list */
.main-header li{
    display: inline-block;
    padding-inline: 50px;
    /* color: linear-gradient(to right,#00AAFF, #00FF6c); */
    color: aqua;
    text-decoration: none;
    /* text-align: center; */
}

.about{
    text-align: center;
    color:aqua;
}

.about-image{
    float: left;
    margin: 10px;
    border-radius: 10%;
}
.body-content{
    /* text-align: center; */
    margin: 1em;
    padding: 0 1em;

}

.footer li{
    display:inline;
    /* display: flex; */
    padding: 9px;
    padding-left: 0px;
    /* margin: auto; */
    cursor: pointer;
    flex-grow: 1;
    /* text-align: end; */
}

.text-footer{
    color: aqua;
    text-align: center;

}

.footer ul{
    flex-grow: 1;
    /* text-align: end; */
    color: blue;
}